
.breadcrumb{
    margin-bottom: 0!important;
    background: #e4e4e4;
    padding-left: 0;
    
}
.breadcrumb a{
    color: #9d9d9d;
}

#order-bar{
    width: 100%;
    height: auto;
    margin-top:20px;
   
}
#formSearch{
    width: 80%;
    height: auto;
    margin: auto;
}
#formSearch .filter{
    width: 20%;
    height: 30px;
    float: left;
    margin-right: 20px;
}
#formSearch .label{
    float:left; 
    font-weight:bold;
    color: black;
    font-size: 17px;
    margin-top:5px;
}