<link href="../components/slider/slider.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="../components/index-css/owl.carousel.css">
<link rel="stylesheet" href="store/store.css">
<!----start-cursual---->
<link rel="stylesheet" href="cart/cart.css"/>
<div class="row">
    <div class="col-sm-23">
        <div class="row breadcrumb-wrapper">
            <div class="col-sm-18">
                <ol class="breadcrumb">
                    <li>
                        <a href="#"><i class="glyphicon glyphicon-home"></i> DAS</a>
                    </li>
                    <li class="active">
                        Store / {{filterObject.tag}}
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div  id="order-bar">
    <form id="formSearch" >
        <div class="search">
            <label class="label">Color:</label>
            <input ng-model="customFilter.color" type="text" class="filter"/>
        </div>
        <div class="search">
            <label class="label">Size:</label>
            <select class="form-control filter" name="size" ng-model="customFilter.size">
                <option selected value="">All</option>
                <option ng-repeat="item in size" value="{{item.$id}}">{{item.$value}}</option>
            </select>
        </div>
        <div class="search">
            <label class="label">Price:</label>
            <select class="form-control filter" name="size" ng-model="filterObject.price">
                <option selected value="">All</option>
                <option value="1">Less than 200.000</option>
                <option value="2">From 200.000 to 500.000</option>
                <option value="3">From 500.000 to 1.000.00</option>
                <option value="4">Greater than 1.000.000</option>
            </select>
        </div>
    </form>
</div>
<!-- start main1 -->

<!-- start main -->
<div class="main_bg">
    <div class="wrap">
        <div class="main">
            <h1 ng-show="loading" style="font-size: 50px; text-align: center;">Loading...</h1>
            <h1 ng-hide="loading || filteredAll.length" style="font-size: 50px; text-align: center;">Nothing found</h1>
            <product ng-repeat="item in filteredAll = (all | filter : {basicInfo : {name : search.name, tag : filterObject.tag}} | myFilter : customFilter : isStrict | price : filterObject.price)" product="item"></product>
            <div class="clear"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../components/index-js/modernizr.custom.28468.js"></script>
<script type="text/javascript" src="../components/index-js/jquery.cslider.js"></script>
<script type="text/javascript" src="../components/index-js/owl.carousel.js"></script>
<script type="text/javascript" src="store/script.js"></script>

