<link href="../components/slider/slider.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="../components/index-css/owl.carousel.css">
<link rel="stylesheet" href="store/store.css">
<!----start-cursual---->
<div  id="order-bar">
    <form id="formSearch" >
        <div class="search">
            <label class="label">Name:</label>
            <input ng-model="filter.basicInfo.name" type="text" class="filter" />
        </div>
        <div class="search">
            <label class="label">Color:</label>
            <input ng-model="filter.color" type="text" class="filter"/>
        </div>
        <div class="search">
            <label class="label">Size:</label>
            <select class="form-control filter" name="size" ng-model="customFilter.size">
                <option selected value="">All</option>
                <option value="S">Small (S)</option>
                <option value="M">Medium (M)</option>
                <option value="L">Large (L)</option>
                <option value="XL">Extra large (XL)</option>
            </select>
        </div>
        <div class="search">
            <label class="label">Price:</label>
            <select class="form-control filter" name="size" ng-model="customFilter.price">
                <option selected value="">All</option>
                <option value="1">Less than 200.000</option>
                <option value="2">From 200.000 to 500.000</option>
                <option value="3">From 500.000 to 1.000.00</option>
                <option value="4">Greater than 1.000.000</option>
            </select>
        </div>
    </form>
</div>
<!-- start main1 -->

<!-- start main -->
<div class="main_bg">
    <div class="wrap">
        <div class="main">
            <h1 ng-show="loading" style="font-size: 50px; text-align: center;">Loading...</h1>
            <div ng-show="!loading" class="grid1_of_3" ng-repeat="item in all | filter : filter | strictA : customFilter : 'size' | price : customFilter.price">
                <a ng-href="#/store/details/{{item.$id}}">
                    <img ng-src="{{item.basicInfo.imgUrl}}" alt="ProductImage"/>
                    <h3>{{item.basicInfo.name}}</h3>
                    <div class="price">
                        <h4>{{item.basicInfo.price}} VND<span>View Detail</span></h4>
                    </div>
                    <span class="b_btm"></span>
                </a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../components/index-js/modernizr.custom.28468.js"></script>
<script type="text/javascript" src="../components/index-js/jquery.cslider.js"></script>
<script type="text/javascript" src="../components/index-js/owl.carousel.js"></script>
<script type="text/javascript" src="store/script.js"></script>

