<link rel="stylesheet" href="cart/cart.css"/>
<div class="row">
    <div class="col-sm-23">
        <div class="row breadcrumb-wrapper">
            <div class="col-sm-15">
                <ol class="breadcrumb">
                    <li>
                        <a href="#"><i class="glyphicon glyphicon-home"></i> DAS</a>
                    </li>
                    <li class="active">
                        Your cart
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div id="information" class="col-sm-12 col-md-6">
        <h4>Receiver's information</h4>
        <form name="contactForm">
            <div class="form-group">
                <label>Name</label>
                <input ng-model="name" type="text" class="required form-control" id="txtCustomerName"/>
            </div>
            <div class="form-group">
                <label>Phone number</label>
                <input ng-model="phone" type="text" class="required form-control" id="txtPhone"/>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input name="email" ng-model="email" type="email" class="required form-control" id="txtEmail"/>
            </div>
            <div class="form-group">
                <label>Address</label>
                <textarea ng-model="address" row="4" class="required form-control" id="txtNote"></textarea>
            </div>

        </form>
    </div>
    <div id="products">
        <h4>Order details</h4>
        
        <table class="table">
            <tr class="item-row" ng-repeat="item in cart">                
                <td class="cart-img">
                    <img class="img-responsive" ng-src="{{item.imgUrl}}"/>
                </td>
                <td>
                    <div>
                    <h4>{{item.name}}</h4>
                    <p>Color: {{item.color}}</p>
                        </div>
                    <br>
                    <div>Price: {{item.price}}</div>
                    <div>
                        <form>
                            <table>
                                <tr>
                                    <td class="change-cart">
                                        <input ng-model="item.number" type="number" class="cart-amount form-control" min="1" max="10">
                                    </td>
                                    <td class="change-cart">
                                        <button ng-click="updateItem($index)" type="button" class="btn btn-update" title="f" data-toggle="popover" data-trigger="focus" data-content="Đã cập nhật số lượng">Update</button>
                                    </td>
                                    <td class="remove-item change-cart" ng-click="removeItem($index)">
                                        <a class="glyphicon glyphicon-remove" style="margin-left:10px;"></a>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <b class="cart-price">{{item.price * item.number}}</b>
                    <span>VND</span>
                </td>
            </tr>
            
            <tr>
            <h2 ng-show="cart.length > 0" class="cart-total cart-price animated bounceIn">Total: {{total}} VND</h2>
           </tr>
        </table>
        <hr>

        <h3 class="empty-cart" ng-show="cart == 0">Your cart is empty. Please go back to shop and add product.</h3>
        <button ng-show="cart.length > 0" ng-click="checkout()" class="js-btnPlaceOrder btn btn-info fw" id="order">Order</button>
        
    </div>
</div>
