
<div class="home" >
    <a class="btn btn-primary btn-xs" data-title="Add" ng-href="#new" >Add san pham di<span class="glyphicon glyphicon-pencil"></span></a>
    <table class="table table-hover details">
        <thead>
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th>Color</th>
                <th>Price</th>
                <th>Size</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in all">
                <td><img ng-src="{{item.basicInfo.imgUrl}}" height="70" width="70"></td>
                <td>{{item.basicInfo.name}}</td>
                <td><p ng-repeat="color in item.color">{{color}},</p></td>
                <td>{{item.basicInfo.price}}</td>
                <td><p ng-repeat="size in item.size">{{size}},</p></td>
                <td><a class="btn btn-primary btn-xs" data-title="Edit" ng-href="#details/{{item.$id}}" ><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td><a class="btn btn-danger btn-xs" data-title="Delete" ng-click="arrayDelete(all,item)" ><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
        </tbody>
    </table>
</div>