<link href="../components/slider/slider.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="../components/index-css/owl.carousel.css">
<link rel="stylesheet" href="home/home.css">

<div class="da-slider">
    <div ng-show="slide[$index]" class="da-slide" ng-repeat="item in featured | limitTo : 4 : 0">
        
        <div class="da-img">
            <img ng-src="{{item.basicInfo.imgUrl}}" alt="ProductImage"/>
            <span class="helper"></span>
        </div>
        <div class="slider-info">
            <h2 class="product-name">{{item.basicInfo.name}}</h2>
            <p class="dots3">{{item.basicInfo.description}}</p>
            <br>
            <br>
            <a ng-href="#/store/details/{{item.$id}}" class="da-link">View Details</a>
        </div>
    </div> 
    <nav class="da-arrows">
        <span ng-click="prevSlide()" class="da-arrows-prev"></span>
        <span ng-click="nextSlide()" class="da-arrows-next"></span>
    </nav>
</div>
<div class="main_bg1" style="margin-top:10px;" >
    <div class="wrap">	
        <div class="main1">
            <h2>New products</h2>
        </div>
    </div>
</div>
<!-- start main -->
<div class="main_bg">
    <div class="wrap">
        <div class="main">
            <product ng-repeat="item in featured" product="item"></product>
            <div class="clear"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../components/index-js/modernizr.custom.28468.js"></script>
<script type="text/javascript" src="../components/index-js/jquery.cslider.js"></script>
<script type="text/javascript" src="../components/index-js/owl.carousel.js"></script>