<link href="../components/slider/slider.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="../components/index-css/owl.carousel.css">

<div id="da-slider" class="da-slider">
    <!--div class="da-slide" ng-repeat="item in top4">
        <h2>{{item.name}}</h2>
        <p>{{item.description}}</p>
        <a ng-href="#/store/details/{{item.$id}}" class="da-link">View Details</a>
        <div class="da-img"><img ng-src="{{item.imgUrl}}" alt="ProductImage"/></div>
    </div-->
    <div class="da-slide">
        <h2 class="product-name">{{featured[0].basicInfo.name}}</h2>
        <p class="dots3">{{featured[0].basicInfo.description}}</p>
        <a ng-href="#/store/details/{{featured[0].$id}}" class="da-link">View</a>
        <div class="da-img"><img class="product-img" ng-src="{{featured[0].basicInfo.imgUrl}}" alt="Product Image" /></div>
    </div>
    <div class="da-slide">
        <h2 class="product-name">{{featured[1].basicInfo.name}}</h2>
        <p class="dots3">{{featured[1].basicInfo.description}}</p>
        <a ng-href="#/store/details/{{featured[1].$id}}" class="da-link">View</a>
        <div class="da-img"><img class="product-img" ng-src="{{featured[1].basicInfo.imgUrl}}" alt="Product Image" /></div>
    </div>
    <div class="da-slide">
        <h2 class="product-name">{{featured[2].basicInfo.name}}</h2>
        <p class="dots3">{{featured[2].basicInfo.description}}</p>
        <a ng-href="#/store/details/{{featured[2].$id}}" class="da-link">View</a>
        <div class="da-img"><img class="product-img" ng-src="{{featured[2].basicInfo.imgUrl}}" alt="Product Image" /></div>
    </div>
    <div class="da-slide">
        <h2 class="product-name">{{featured[3].basicInfo.name}}</h2>
        <p  class="dots3">{{featured[3].basicInfo.description}}</p>
        <a ng-href="#/store/details/{{featured[3].$id}}" class="da-link">View</a>
        <div class="da-img"><img class="product-img" ng-src="{{featured[3].basicInfo.imgUrl}}" alt="Product Image" /></div>
    </div>
    <nav class="da-arrows">
        <span class="da-arrows-prev"></span>
        <span class="da-arrows-next"></span>
    </nav>
</div>

<!-- start main1 -->
<div class="main_bg1" style="margin-top:10px;" >
    <div class="wrap">	
        <div class="main1">
            <h2>New products</h2>
        </div>
    </div>
</div>
<!-- start main -->
<div class="main_bg">
    <div class="wrap">
        <div class="main">
            <product ng-repeat="item in featured" product="item"></product>
            <div class="clear"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../components/index-js/modernizr.custom.28468.js"></script>
<script type="text/javascript" src="../components/index-js/jquery.cslider.js"></script>
<script type="text/javascript" src="../components/index-js/owl.carousel.js"></script>
<script type="text/javascript" src="home/script.js"></script>
