/*-- start details--*/
.single{
	padding:2% 0;
}
.left_sidebar{
	width: 22.3333%;
	float: left;
	margin-left: 4.33333%;
}
.span1_of_1{
	float: left;
	width: 52.3333%;
}
.span1_of_1_des{
	float: right;
	width: 44.3333%;
	margin-left: 3.333%;
}
.more-views-container{
    
    width: 70px;
    margin-right: 20px;
    float: left;
}
.more-views-container ul li{
    margin-top: 37px;
}
.more-views-container ul li:first-child {
    margin-top: 0px;
}
.product-image{
    
    height: auto;
    float: left;
   
}



