<link rel="stylesheet" href="cart/cart.css"/>
<div class="row">
    <div class="col-sm-23">
        <div class="row breadcrumb-wrapper">
            <div class="col-sm-15">
                <ol class="breadcrumb">
                    <li>
                        <a href="#"><i class="glyphicon glyphicon-home"></i> DAS</a>
                    </li>
                    <li class="active">
                        Thông tin giỏ hàng của bạn
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div id="information" class="col-sm-12 col-md-6">
        <h4>Thông tin người mua/nhận hàng</h4>
        <form>
            <div class="form-group">
                <label>Tên</label>
                <input type="text" class="required form-control" id="txtCustomerName"/>
            </div>
            <div class="form-group">
                <label>Điện thoại liên lạc</label>
                <input type="text" class="required form-control" id="txtPhone"/>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="required form-control" id="txtEmail"/>
            </div>
            <div class="form-group">
                <label>Địa chỉ</label>
                <textarea row="4" class="required form-control" id="txtNote"></textarea>
            </div>

        </form>
    </div>
    <div id="products">
        <h4>Chi tiết sản phẩm bán hàng</h4>
        <table class="table table-striped">
            <tr class="item-row" ng-repeat="item in data">
                <td>
                    <img class="img-responsive" ng-src="item.image"/>
                </td>
                <td>
                    <p>{{item.name}}</p>
                    <p>{{item.color}}</p>
                </td>
                <td style="width:160px;">
                    <div>{{item.price}}</div>
                    <div>
                        <form>
                            <table>
                                <tr>
                                    <td>
                                        <input ng-model="item.count" id="update" type="number" class="form-control" min="0" max="10">
                                        <!--<input type="text" class="form-control" value="3">-->
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-default">Update</button>
                                    </td>
                                    <td class="remove-item" ng-click="removeItem($index)">
                                        <a class="glyphicon glyphicon-remove" style="margin-left:10px;"></a>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <span>đ</span>
                    <b>747,00</b>
                </td>

            </tr>
            <tr>
                <td colspan="2" class="text-right">Tổng cộng:</td>
                <td colspan="2">
                    <span>đ</span>
                    <b>996,000</b>
                </td>
            </tr>
        </table>
        <hr>
        <button class="js-btnPlaceOrder btn btn-info fw" id="order">Đặt hàng</button>
    </div>
</div>
