/*css trang cart*/
/*.row{
    font-family: 'Source Sans Pro', sans-serif;
    width: 90%;
    margin: auto;
    
    margin-top: 10px;
}
#information{
    width: 45%;
    height: auto;
    
    margin: 10px 0px 0px 50px;
    float: left;
}
#products{
    width: 45%;
    height: auto;
    
    float: left;
    margin-top: 10px;
}
.form-control{
    width: 90%;
}
#update{
    width: 50px;
}
#order{
    width: 100%;
    margin-bottom: 25px;
}
.breadcrumb a{
    color: #9d9d9d;
}
.active{
    font-weight: bold;
    color: #337ab7 !important;
}
#information h4{
    font-size:17px;
    font-weight: bold;
}
#products h4{
    font-size:17px;
    font-weight: bold;
}








.item-row
{
    margin: 10px;
    
}



.cart-total
{
    font-size: 25px;
}

.cart-price
{
    color:red;
    font-weight: bold;
}

.cart-img
{
    width: 14%;
}

.cart-amount
{
    width: 50px;
}
/*.cart-info
{
    margin-left: 250px;
}*/
.title{
    font-family: 'bebas_neueregular';
    color: #777777;
    text-shadow: 0 1px 0 #ffffff;
    margin-left:70px;
    font-size: 2em;
    margin-bottom: 25px;
}
.history
{
    font-family: 'Source Sans Pro', sans-serif;
    background: white;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 100px;
}
.details{
    
    width: 90%;
    height: auto;
    margin: auto;
    padding: 10px;
    
}
.details thead tr{
    font-size: 20px;
    text-align: center!important;
    font-weight: bold;
}
/**/




